
#navbar {
    transition: background-color 0.3s, padding 0.3s;
    font-family: Montserrat, sans-serif;
  }
  .administrator{
    color:red; 
    display: inline-block;
    margin-left: 5px;
  }

  .custom-brand {
    color: yellow; 
    margin-left: 200px;
    font-size: 30px;
    font-family: 'Arial Black', sans-serif;
  }
  
  .transparent-bg {
    background-color: transparent !important; 
  }
  
  .text-bigger {
    font-size: 18px;
  }
  
  .scrolled {
    background-color: #343a40 !important;
    padding: 10px 15px !important; 
  }
  
  .nav-link {
    font-size: 16px;
    font-weight: bold; 
    padding: 10px 15px; 
    margin: 0 5px; 
    color: white; 
    transition: color 0.3s; 
  }

  .nav-link:hover {
    color: yellow; 
  }
  .navbar-collapse{
    margin-right: 100px;
  }

  .navbar .navbar-nav .nav-link {
    color: #ffffff;
  }
  .sm-icons {
    flex-direction: row;
  }
  .sm-icons .nav-link {
    padding-right: 1em;
  }
  
  
  @media (max-width: 768px) {
    .transparent-bg {
      background-color: black !important; 
    }
    .navbar-collapse{
      padding-left: 150px;
    }
    .custom-brand {
      margin-left: 10px;
    }
    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center; 
    }
    .nav-item {
      margin-left: 0; 
      text-align: left; 
    }
    
    
  }
