<div id="locații">
    <div class="text-center mt-5">
        <h2 class="display-4 text-uppercase" data-aos="fade-down" data-aos-duration="2000">LOCAȚII</h2>
        <h3 class="small subtitle text-muted" data-aos="fade-up" data-aos-duration="2000">Momentan ne desfășurăm activitatea în județele Vaslui, Vrancea, Bacău și Galați</h3>
    </div>
    <div class="map-container">
        <img src="../../../assets/romania-map.png" alt="Harta Romaniei" class="romania-map">
        <div class="flashing"></div>
    </div>
</div>